<% if !current_user.nil? %>
<h1>Personal info</h1>
<div class="info">
 <p>You are seeing this page because you are needed to fill in your personal info
 in order to continue.</p>

 <p>This is where I should guide you in filling this form, but you should know how for now.</p>
 </div>


<%= form_for @person, url: {action: "create"} do |f| %>
    <div>
        <%= f.label :First_Name %><br />
        <%= f.text_field :forename %>
    </div>
    <div>
        <%= f.label :Last_Name %><br />
        <%= f.text_field :surname %>
    </div>
    <div>
        <%= f.label :Street_address %><br />
        <%= f.text_field :street_address %>
    </div>
    <div>
        <%= f.label :City %><br />
        <%= f.text_field :city %>
    </div>
    <div>
        <%= f.label :Province %><br />
        <%= select :person, :province, Province.all.collect {|p|[ p.name, p.name_with_initial ]} %>
    </div>
    <div>
        <%= f.label :Postal_code %><br />
        <%= f.text_field :postal_code %>
    </div>
    <div>
        <%= f.label :Telephone_number %><br />
        (<%= f.text_field :regional, size: "3" %>)
        <%= f.text_field :first_half, size: "3" %>-
        <%= f.text_field :second_half, size: "4" %>
    </div>
    <div>
        <%= f.submit "Send Info", class: 'submit_info' %></div>
<% end %>
<% else %>
    <% flash[:alert] = "OOPS! You're not supposed to be here buddy!" %>
<% end %>

